<%= form_with(model: user) do |form| %>
  <div class="modal-body">
    <% if user.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name, class: "form-label mb-2 mt-3" %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :email, class: "form-label mb-2 mt-3" %>
      <%= form.text_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :country, class: "form-label mb-2 mt-3" %>
      <%= form.country_select :country,{prompt: 'Select country'}, {class: 'form-select', data: {controller: 'countries'}} %>
    </div>

    <div class="form-group" id= "country_states_list">
    </div>

<!--    <div class="form-group" id="country_code">-->
<!--    </div>-->

    <div class="form-group">
      <%= form.label :city, class: "form-label mb-2 mt-3" %>
      <%= form.text_field :city, class: 'form-control' %>
    </div>



<!--    <div class="form-group">-->
      <%#= form.label :state, class: "form-label mb-2 mt-3" %>
      <%#= form.text_field :state, class: 'form-control' %>
<!--    </div>-->

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <%= form.submit class: 'btn btn-primary', data: {action: "click-> bs-modal#submitEnd"} %>
  </div>
<% end %>
