<%= turbo_frame_tag :remote_modal, target: :_top do %>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="bs-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><%= user.name %> Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
               <p class="lead"><strong> Name: </strong> <%= user.name %></p>
               <p class="lead"><strong> Email: </strong> <%= user.email %></p>
               <p class="lead"><strong> City: </strong> <%= user.city %></p>
               <p class="lead"><strong> State: </strong> <%= user.state %></p>
               <p class="lead"><strong> Country: </strong> <%= user.country %></p>
               <p class="lead"><strong> Country Number: </strong> <%= user.country_number %></p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn " data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>