<tr id= "user_row_<%=user.id %>">
  <td><%=user.name %></td>
  <td><%=user.email %></td>
<!--  <td><%#=user.city %></td>-->
  <td><%=user.state %></td>
  <td><%=user.country %></td>
<!--  <td><%#=user.country_number %></td>-->
  <td>
    <%= link_to "View", user, class: 'btn btn-info',data: {controller: 'user-modal'}  %>
    <%= link_to "Edit", edit_user_path(user), class: 'btn btn-primary',data: {controller: 'user-modal'} %>
    <%= link_to "Delete", user, data:{turbo_method: :delete, turbo_confirm: 'Are You Really Sure!!!'} ,class: 'btn btn-danger' %>
  </td>
</tr>